* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

div {
    border: 1px solid blue;
    padding: 20px;
    margin: 20px;
}

.container {
    height: 500px;
    width: 400px;
}